.layout {
  width: 150px;
  height: 250px;
  min-width: 150px;
  min-height: 250px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.common {
  border-color: gray;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.rare {
  border-color: green;
  box-shadow: 0 0 8px rgba(0,128,0,0.5);
}

.legendary {
  border-color: gold;
  box-shadow: 0 0 8px rgba(255,215,0,0.5);
}
